
<main class="index">
    <header class="masthead d-flex">
        <div class="container text-center my-auto">
            <h1 class="mb-1">Cosmeticos Organicos Bionacare</h1>
            <h3 class="mb-5">
                <em>Productos de belleza  organicos Bionatural Care </em>
            </h3>
            <a class="btn btn-primary btn-lg" href="/signin">
                Empecemos!
            </a>
        </div>
        <div class="overlay"></div>
    </header>



  <section class="section" id="head">
	<div class="container">

		<div class="row">
			<div class="col-md-10 col-lg-10 col-md-offset-1 col-lg-offset-1 text-center">	

				<!-- Site Title, your name, HELLO msg, etc. -->
				<h1 class="title"><br><br><br>VIAJES </h1>
				<br><br>
				<h2 class="subtitle">BioNaturalcare.</h2>

				<!-- Short introductory (optional) -->
				<h3 class="tagline">
					
					Salud es belleza.<br>
		Materias primas naturales son la miel, la leche o la cera de abeja, y aceites como el de oliva, de jojoba, de karité, o esenciales, como el de lavanda. En el caso del aceite de oliva o el de argán se consideran naturales, aunque exista un proceso físico de extracción, en este caso por presión. Igualmente, hay otros ingredientes, como por ejemplo el ácido hialurónico, que es también de origen natural, aunque su procesamiento posterior sea algo más complejo (se obtiene por biofermentación, con la intervención de microorganismos, los cuales no pueden ser transgénicos si el producto está certificado como natural).



				</h3>
				
				<!-- Nice place to describe your site in a sentence or two -->
				<p><a href="/signin" class="btn btn-default btn-lg">Has click aqui si deseas saber mas ...</a></p>
	
			</div> <!-- /col -->
		</div> <!-- /row -->
	
	</div>
</section>




<!-- Second (About) section -->
<section class="section" id="about">
	<div  class="container text-center my-auto">
	
		<h2 class="text-center title">BioNaturalcare</h2>
		
			
		
				<h5><strong>Consumidores Orgánicos<br></strong></h5>    
				<p>Además, las conclusiones de la investigación incluyen una propuesta de prohibición sobre el uso de conservantes MIT en 
                    cosméticos por las posibles reacciones que pueden causar en la piel.
Estos factores motivan que la industria cosmética busque nuevos ingredientes y nuevos desarrollos que cumplan con la legislación 
y la demanda de los consumidores. Los productos de higiene personal orgánicos se producen a partir de ingredientes orgánicamente cultivados y se procesan de forma natural 
sin la adición de ningún producto químico.</p>    
				<h5><strong>Author links<br></strong></h5>    
				<p><a href="">Behance</a> / <a href="">Twitter</a> / <a href="">LinkedIn</a> / <a href="">Facebook</a></p>
			
		</div>
	
</section>


<section class="section" id="themes">
	<div class="container text-center my-auto">
	
		<h2 class="text-center title">Lo nuestro</h2>
		<p class="lead text-center">
			<br>
			Organico <a href="/">BioNaturalcare</a>, productos hechos 100% a base de estractos naturales!
		</p>
		<div class="row">
			<div class="col-sm-4 col-sm-offset-2">
				<div class="thumbnail">
					<img src="/img/make03.jpg" alt="">
					<div class="caption">
						<h3>Cosmeticos</h3>
						<p>De igual forma; avena, betabel,vitamina B,colageno, remolacha
							entre otras son los principales ingredientes de la formula .</p>
						<p><a href="/signin" class="btn btn-primary" role="button">Comprar</a> </p>
					</div>
				</div>
			</div>
			<div class="col-sm-4 col-sm-offset-2">
				<div class="thumbnail">
					<img src="/img/make06.jpeg" alt="">
					<div class="caption">
						<h3>Cera de abejita</h3>
						<p>La cera de abeja con diferentes propidades curativas y que regeneran cada parte
                            de tu piel de adentro hacia a fuera.</p>
						<p><a href="/signin" class="btn btn-primary" role="button">Comprar</a> </p>
					</div>
				</div>
			</div>
			<div class="col-sm-4 col-sm-offset-2">
				<div class="thumbnail">
					<img src="/img/make04.jpg" alt="">
					<div class="caption">
						<h3>Kit de Lavanda</h3>
						<p>Jabon de ducha,exfoliante citricos y lavanda, y esencia de la misma para despues del baño.</p>
						<p><a href="/signin" class="btn btn-primary" role="button">Comprar</a> </p>
					</div>
				</div>
			</div>
			
		</div>

	</div>
</section>



<footer id="footer">
<div class="container-body">
  

    <div class="iformation">
        Información Compañia | Privación y Politica|
        Terminos y Condiciones
    </div>
</div>


</div>

</footer>
</main>